<!DOCTYPE HTML>
<html class="loginPage">
<head>

    <!-- Default Dhis -->
    <title>Punjab Health Transparency Portal</title>
    <link rel="icon" href="./img/logo1n.png" type="image/x-icon">
    <meta name="description" content="DHIS 2">
    <meta name="keywords" content="DHIS 2">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  new Libraries-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="lib/js/jquerymin.js"></script>
    <script src="//dhis2-cdn.org/v221/ext/ext-all.js"></script>
    <link rel="stylesheet" href="lib/css/bootstrapmin.css" integrity="" crossorigin="anonymous" />
    <link rel="stylesheet"  href="lib/css/bootstrapthememin.css" integrity="" crossorigin="anonymous" />
    <script src="lib/js/bootstrapmin.js"  ></script>
    <script src="lib/js/bootstrapselectmin.js" ></script>
    <link rel="stylesheet" href="lib/css/bootstrap-selectmin.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--W3schools-->
    <link rel="stylesheet" href="lib/css/w3.css">
    <link rel="stylesheet" href="lib/css/style.css">


    <link href="lib/leaflet.css" rel="stylesheet" type="text/css" />
    <script src="lib/leaflet-src.js"></script>

    <link href="lib/leaflet.awesome-markers.css" rel="stylesheet" type="text/css" />
    <script src="lib/leaflet.awesome-markers.js"></script>



</head>
<style>
    /*Loader css*/
    .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        right: 50%;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; }
    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
    }
    #map {
        width: 650px;
        height:400px;
    }

    #map1  {

        margin-left:10%;
        margin-right:10%;
        position: relative;
        width: 1200px;
        height:450px;


    }

    /*Footer Css*/
    #footer1{
        background: #2978B3;
        height: 80px;
    }

    /* Dropdown Button */
    .dropbtn {
        background-color: #D86422;
        color: white;
        /*padding:5px;
        margin-top: 10%;
        font-size: 14px;*/
        border: none;
        cursor: -webkit-grab;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #D86422;
    }


    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 170px;
    }

    #dropdown1 li{
        margin-right: 2%;
        padding-bottom: 2%;
    }
</style>
<body>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#2978B3">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4  style="text-align: center;color: white"> Login</h4>
            </div>
            <div class="modal-body">

                <div id="loginField">
                    <div id="loginArea">
                        <div id="bannerArea">
                            <img src="" style="border:none">
                        </div>

                        <form id="loginForm" action="../../dhis-web-commons-security/login.action" method="post" style="text-align: center;" onsubmit="return validateEditReport()">
                            <div>
                                <div id="signInLabel"><p><strong>Sign in</strong></p></div>
                                </br>
                                <div><input type="text" autofocus="autofocus" id="j_username" name="j_username" placeholder="Username"></div>
                                </br>
                                <div><input type="password" id="j_password" name="j_password" autocomplete="off" placeholder="Password"></div>
                                </br>
                            </div>

                            <div id="submitDiv">
                                <input id="submit" class="button" type="submit" value="Sign in">
                            </div>
                            <div style="padding-bottom: 10px">
                                <a id="createAccountLink" target="_blank" href="lib/controllers/register.html">New Hospital registration</a>
                            </div>
                            #if( $keyAccountRecovery )
                            <div style="padding-bottom: 10px">
                                <a id="forgotPasswordLink" href="recovery.action">Forgot password?</a>
                            </div>
                            #end
                            #if( $keyConfig.selfRegistrationAllowed() )
                            <!--<div style="padding-bottom: 10px">-->
                            <!--<a id="createAccountLink" href="account.action">Create an account</a>-->
                            <!--</div>-->
                            #end
                        </form>
                        #if( $keyOpenIdProvider )
                        <form id="openIdLoginForm" action="../../dhis-web-commons-security/openid.action" method="post">
                            <input name="openid_identifier" type="hidden" value="$keyOpenIdProvider"/>
                            <div id="submitDiv">
                                #if( $keyOpenIdProviderLabel )
                                <input style="width: 269px;" id="submit" class="button" type="submit" value="$keyOpenIdProviderLabel">
                                #else
                                <input style="width: 269px;" id="submit" class="button" type="submit" value="Sign in with OpenID">
                                #end
                            </div>
                        </form>
                        #end
                        #if( $failed == true )
                        <div id="loginMessage" ><h2 style="text-align:center; color:White; font-style: normal; background: #D86422">Wrong user name or password</h2><script>
                            (function () {
                                $('#myModal').modal('show');
                            })();
                        </script></div>
                        #end
                        #if ( $keyApplicationNotification )
                        <div id="notificationArea">$!{keyApplicationNotification}</div>
                        #end
                        <!--[if lte IE 8]>
                        <div id="notificationArea" style="color: white; background-color: red;">$i18n.getString( "unsupported_browser" )</div>
                        <![endif]-->
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<div >
    <!--Header -->
    <header class="w3-hover-shadow ">
        <div style="float:left; width:100px;">
            <img src="img/Punjab_logo.png" height="100px";>
        </div>
        <div style="display:inline-block;margin:0 auto;width:auto;">
            <h1 style="color:#fff">Punjab Health Facility Portal</h1>
        </div>
        <div style="float:right">
            <ul style="list-style-type:none;display: -webkit-inline-box;">
                <li style="margin-right: 1%"><button onclick="window.location.reload()" target="_blank" style="color:#fff; background: #d86422;border: none;">Home</button></li>
                <li style="margin-right: 1%"><button onclick="window.open('http://pbhealth.gov.in/')" target="_blank" style="color:#fff; background: #d86422;border: none;"> Punjab Health Department</button></li>
                <li style="margin-right: 1%">
                    <div class="dropdown">
                        <button class="dropbtn">User Manual</button>
                        <div class="dropdown-content">
                            <a href="#" onclick="window.open('docs/SOP.pdf'); return false;">User SOP</a>
                            <a href="#">Hospital Registration SOP</a>
                            <a href="#">FAQ</a>
                        </div>
                    </div>
                </li>
                <!--<li class="w3-btn"><a href="#" onclick="window.open('docs/SOP.pdf'); return false;" style="color:#fff">User Manual</a></li>-->
                <li  id="b1" class="button12" data-toggle="modal"  style="color:#fff" data-target="#myModal "><button style="background: #d86422;border:none;">Register Facility/Login</button></li>

            </ul>

        </div>

    </header>


    <!--DropDown Bar-->
    <!--<div class="w3-card-2" style=" width: 100%; padding-top: 2%; text-align: center " >-->
    <ul id="dropdown1" class="w3-card-2" style="display: inline-flex;list-style-type: none;margin-right: 10%; padding-top: 2%;width: 100%; margin-top:1%;background-color: aliceblue;">
        <li>
            <label for="Orgunit">Select State/District</label>
            <select id="drop1" class="selectpicker" multiple data-live-search="true" >
                <option value="wSslG6mcGXl"  hidden>Entire State (Punjab)</option>
            </select></li>
        <li>
            <label for="Orgunit">Search Hospital Name</label>
            <select id="drophospital"  class="selectpicker"  multiple data-live-search="true" >

            </select>
        </li>
        <li>
            <label for="Orgunit">Search speciality</label>
            <select id="drop2"  class="selectpicker"  multiple data-live-search="true"></select>
        </li>
        <li>
            <label for="Orgunit">Search Ownership</label>
            <select id="drop_ownership"  class="selectpicker"  multiple  data-live-search="true"></select>
        </li>
        <li>
            <label for="Orgunit">Type of Health Facility</label>
            <select id="droptype"  class="selectpicker" multiple  data-live-search="true"> </select>
        </li>
        <li  style="margin-top: 2%;">
            <button type="button" class="btn btn-success" onclick="generatefilterrecord(orgid,defservice,defavail,defowner,defhealthfacility);">Map View</button>
        </li>
        <li style="margin-top: 2%;">
            <button type="button" class="btn btn-primary" onclick="generatefilterrecordlist(orgid,defservice,defavail,defowner,defhealthfacility);">List View</button>
        </li>
    </ul>

    <!--<div class="w3-row-padding w3-padding-bottom w3-card-2" style="margin-top:2%;margin-left: 1%; margin-right: 1% ; background: gainsboro">
        <div  class="w3-col w3-container" style="width:17%">
            <label for="Orgunit">Select State/District</label>
            <select id="drop1" class="selectpicker"  data-live-search="true" >
                <option value="" disabled selected hidden> Select</option>
                <option value="wSslG6mcGXl">Select Entire State (Punjab)</option>
            </select>
        </div>
        <div  class="w3-col w3-container" style="width:17%">
            <label for="Orgunit">Search Hospital Name</label>
            <select id="drophospital"  class="selectpicker"  data-live-search="true" >
            <option value="" disabled  hidden> Select</option>
            </select>
        </div>
        <div class="w3-col w3-container"  style="width:17%">
            <label for="Orgunit">Search speciality</label>
            <select id="drop2"  class="selectpicker"  multiple data-live-search="true"></select>
        </div>
        <div class="w3-col w3-container" style="width:17%">
            <label for="Orgunit">Search Ownership</label>
            <select id="drop_ownership"  class="selectpicker"  multiple  data-live-search="true"></select>
        </div>
        <div class="w3-col w3-container" style="width:17%;">
            <label for="Orgunit">Type of Health Facility</label>
            <select id="droptype"  class="selectpicker" multiple  data-live-search="true"> </select>
        </div>
        <div class="w3-col w3-container" style="width:7.5%; margin-top: 2%; text-align:center">
            <button type="button" class="btn btn-success" onclick="generatefilterrecord(orgid,defservice,defavail,defowner,defhealthfacility);">Map View</button>
        </div>
        <div class="w3-col w3-container" style="width:7.5%; margin-top: 2%">
            <button type="button" class="btn btn-primary" onclick="generatefilterrecordlist(orgid,defservice,defavail,defowner,defhealthfacility);">List View</button>
        </div>
    </div>-->
    <!--</div>-->
    </br>

    <div id="content1">
        <table style="width:100%; height:600px; margin-bottom:5%;">
            <tr>
                <td style="width:50%">
                    <div style="margin-right: 5%">
                        <h3 style="text-align: center; margin-top: 0%">About Us</h3>

                        <p style="text-align:justify; margin-left: 50px; margin-top:10%;">The Government of Punjab is pleased to announce the launch of the “Punjab Health Facility Portal” where all public and private health facilities are invited to self-report on the various health services they provide in their respective health facilities. This information will be made available to citizens through this portal to allow them to make more informed choices of what health services they can access from where. The information will help the Punjab Government to identify gaps and strengthen health services delivery and improve citizen satisfaction.
                            </br></br>We request you to partner with the State to make this important venture a resounding success. For this, healthcare providers are requested to self-register by clicking on “Register Facility/Login” button. Please note this portal will be dynamic and allow for changes to be made as they take place in future. Users of health facilities are requested to provide feedback.
                            </br></br>We hope that citizens of state find this portal useful and provide feedback regarding services.</p>
                    </div>
                </td>

                <td style="width:50%">
                    <div><img src="img/punjab.png"></div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="map1"></div>
<MARQUEE style="background: navajowhite;">
    <p style="font-family: Arial;font-weight: bold;color: #0f0f0f;  text-align:center " >Please call on 9643208385 for any kind of technical support.</p>
</MARQUEE>

<!--Hit counter-->
<!--<div align='center' id="visitorcounter"style="bottom:08%;text-align: center"><img src='http://www.hit-counts.com/counter.php?t=MTM5OTk2Mw==' border='0' alt='Visitor Counter'></a><p style="font-family: Arial;color: #00bcd4; bottom: 08%">Visitor Counter</p></div>-->

<!-- Start of SimpleHitCounter Code -->
<div align="center" id="visitorcounter"><a href="http://pbhealthportal.in/pbhealthportal/dhis-web-commons/security/login.action" target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=2215201&f=0&b=16777215" border="0" height="18" width="83" alt="PBhealth portal"></a><br><a href="#"  style="text-decoration:none;">Visitor Counter</a></div>
<!-- End of SimpleHitCounter Code -->



<div class="alert alert-success" id="resultcount" style="display:none;text-align: center" align='center'>
    <strong >Total No: of Results:</strong>
</div>
<div class="alert alert-danger" id="noresult" style="display:none;text-align: center" align='center'>
    <strong >No result found for above selection</strong>
</div>

<div id="footer1">
    <p style="text-align: center; color: #fff; margin-top:2%"><strong>Disclaimer:</strong> The responsibility for the correctness of data in the portal is the responsibility of the facility which has self-registered the data. The Government is only responsible for the dissemination of this information through this portal.</p>
</div>


</body>
<div id="loader" style="display:none;" class="loader"></div>
<script src="lib/scriptcontroller.js"></script>

</html>