<!DOCTYPE HTML>
<html class="loginPage">
<head>

    <!-- Default Dhis -->
    <title>Punjab Health Transparency Portal</title>
    <link rel="icon" href="./img/logo1n.png" type="image/x-icon">
    <meta name="description" content="DHIS 2">
    <meta name="keywords" content="DHIS 2">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--  new Libraries-->
    <script src="lib/js/jquerymin.js"></script>
    <script src="//dhis2-cdn.org/v221/ext/ext-all.js"></script>
    <link rel="stylesheet" href="lib/css/bootstrapmin.css" integrity="" crossorigin="anonymous" />
    <link rel="stylesheet"  href="lib/css/bootstrapthememin.css" integrity="" crossorigin="anonymous" />
    <script src="lib/js/bootstrapmin.js"  ></script>
    <script src="lib/js/bootstrapselectmin.js" ></script>
    <link rel="stylesheet" href="lib/css/bootstrap-selectmin.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--W3schools-->
    <link rel="stylesheet" href="lib/css/w3.css">
    <link rel="stylesheet" href="lib/css/style.css">


    <link rel="stylesheet" href="lib/font-awesome.css">
    <link rel="stylesheet" href="lib/leaflet.css" />
    <script src="lib/leaflet.js"></script>
    <script src="lib/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="lib/ionicons.min.css">
    <link rel="stylesheet" href="lib/leaflet.awesome-markers.css">

</head>
<style>
    .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        right: 50%;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    #map {
        width: 650px;
        height:400px;
    }

    #map1 {
        border:3px solid black;
        display:none;
        position: absolute;
        top: 60%;
        left: 50%;
        right: 50%;

        width: 1200px;
        height:450px;
        transform: translate(-50%, -50%)
    }
    #header{

        color: white;
        background-color: #2978B3;
        height:auto;
        width:100%;
    }

</style>
<body>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#2978B3">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4  style="text-align: center;color: white"> Login</h4>
            </div>
            <div class="modal-body">

                <div id="loginField">
                    <div id="loginArea">
                        <div id="bannerArea">
                            <img src="" style="border:none">
                        </div>

                        <form id="loginForm" action="../../dhis-web-commons-security/login.action" method="post" style="text-align: center;">
                            <div>
                                  <div id="signInLabel"><p><strong>Sign in</strong></p></div>
                                </br>
                                <div><input type="text" autofocus="autofocus" id="j_username" name="j_username" placeholder="Username"></div>
                                </br>
                                <div><input type="password" id="j_password" name="j_password" autocomplete="off" placeholder="Password"></div>
                                </br>
                            </div>
                            <div style="padding-bottom: 10px">
                                <a id="createAccountLink" target="_blank" href="lib/controllers/register.html">Create an account</a>
                            </div>
                            <div id="submitDiv">
                                <input id="submit" class="button" type="submit" value="Sign in">
                            </div>
                            #if( $keyAccountRecovery )
                            <div style="padding-bottom: 10px">
                                <a id="forgotPasswordLink" href="recovery.action">Forgot password?</a>
                            </div>
                            #end
                            #if( $keyConfig.selfRegistrationAllowed() )
                            <!--<div style="padding-bottom: 10px">-->
                            <!--<a id="createAccountLink" href="account.action">Create an account</a>-->
                            <!--</div>-->
                            #end
                        </form>
                        #if( $keyOpenIdProvider )
                        <form id="openIdLoginForm" action="../../dhis-web-commons-security/openid.action" method="post">
                            <input name="openid_identifier" type="hidden" value="$keyOpenIdProvider"/>
                            <div id="submitDiv">
                                #if( $keyOpenIdProviderLabel )
                                <input style="width: 269px;" id="submit" class="button" type="submit" value="$keyOpenIdProviderLabel">
                                #else
                                <input style="width: 269px;" id="submit" class="button" type="submit" value="Sign in with OpenID">
                                #end
                            </div>
                        </form>
                        #end
                        #if( $failed == true )
                        <div id="loginMessage">Wrong username or password</div>
                        #end
                        #if ( $keyApplicationNotification )
                        <div id="notificationArea">$!{keyApplicationNotification}</div>
                        #end
                        <!--[if lte IE 8]>
                        <div id="notificationArea" style="color: white; background-color: red;">$i18n.getString( "unsupported_browser" )</div>
                        <![endif]-->
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<div >
    <!--Header -->
    <header  id="header" class="w3-hover-shadow ">
        <table>
            <tr>
                <td rowspan="2">
                    <img src="img/Punjab_logo.png"  style="height: 80px">
                </td>
                <td>
                    <p style="color:#fff"><strong>Punjab Health Facility Portal</strong></p>
                </td>
                <td>
                    <ul style="list-style-type:none;">
                        <li class="w3-btn"><a onclick="window.location.reload()" target="_blank" style="color:#fff; margin-left: 25%">Home</a></li>
                        <li class="w3-btn"><a href="http://pbhealth.gov.in/" target="_blank" style="color:#fff"> Punjab Health Department</a></li>
                          <li class="w3-btn"><a href="#" onclick="window.open('docs/SOP.pdf'); return false;" style="color:#fff">User Manual</a></li>
                        <li class="w3-btn" id="b1" class="button12" data-toggle="modal"  style="color:#fff" data-target="#myModal"><b>Register Facility/Login</b></li>
                    </ul>
                </td>
            </tr>
        </table>
    </header>


    <!--DropDown Bar-->
    <div  class="w3-row " style="text-align:center; padding-top: 20px">
        <div class="w3-col w3-container" style="width:30%">
            <select id="drop1" class="selectpicker"  data-live-search="true" >
                <option value="" disabled selected hidden>Please Select State/District</option>
                <option value="wSslG6mcGXl">Select Entire State (Punjab)</option>
            </select>
        </div>
        <div class="w3-col w3-container" style="width:30%">
            <select id="drophospital" class="selectpicker" data-live-search="true" >
                <option value="all" disabled selected hidden>Search by Hospital Name</option>
            </select>
        </div>
        <div class="w3-col w3-container" style="width:30%">
            <select id="drop2"  class="selectpicker"  data-live-search="true">
                <option disabled selected hidden>Search by speciality</option>
            </select>
        </div>
    </div>
    <div class="w3-row" style="padding-top:10px">
        <div class="w3-col w3-container" style="width:50%; text-align: center">
            <select id="drop_ownership"  class="selectpicker"   data-live-search="true">
                <option value="" disabled selected hidden>Search by Ownership</option>
            </select>
        </div>
        <div class="w3-col w3-container" style="width: 40%">
            <select id="droptype"  class="selectpicker"  data-live-search="true">
                <option disabled selected hidden>Type of Health Facility</option>
            </select>
        </div>
        <div class="w3-col w3-container" style="width: 10%">
            <button type="button" onclick="generatefilterrecord(orgid,defservice,defavail,defowner,defhealthfacility);">Map View</button>
            <button type="button" onclick="generatefilterrecordlist(orgid,defservice,defavail,defowner,defhealthfacility);">List View</button>
        </div>

    </div>

    <!--<div clas="w3-col w3-container" style="width: 100%; text-align: center">-->
    <!--<button type="button" onclick="generatefilterrecord(orgid,defservice,defavail,defowner,defhealthfacility);">Go</button>-->
    <!--</div>-->

    <div id="content1" style="padding-left: 10%; padding-right: 10%">
        <table>
            <tr>
                <td><div style="width: 650px">
                    <h3 style="text-align: center; margin-top: 5%">About Us</h3>
                    <p style="text-align:justify">The Government of Punjab is pleased to announce the launch of the “Punjab Health Facility Portal” where all public and private health facilities are invited to self-report on the various health services they provide in their respective health facilities. This information will be made available to citizens through this portal to allow them to make more informed choices of what health services they can access from where. The information will help the Punjab Government to identify gaps and strengthen health services delivery and improve citizen satisfaction.
                        </br></br>We request you to partner with the State to make this important venture a resounding success. For this, healthcare providers are requested to self-register by clicking on “Register Facility/Login” button. Please note this portal will be dynamic and allow for changes to be made as they take place in future. Users of health facilities are requested to provide feedback.
                        </br></br>We hope that citizens of state find this portal useful and provide feedback regarding services.</p>
                </div></td>
            </tr>
        </table>
        <div id="map" style="width: 650px" ></div>
    </div>
</div>
<div id="map1" ></div>
<div align='center' style="bottom: 08%;text-align: center"><img src='http://www.hit-counts.com/counter.php?t=MTM5OTk2Mw==' border='0' alt='Free Hit Counter'></a><BR><p style="font-family: Arial;color: #00bcd4; bottom: 08%">Visitor Counter</p></div>
<div id="resultcount" align='center' style="bottom: 08%;display:none;text-align: center"><p id="resultcount">Total No: of Results: </p></div>
<div id="footer">
    <p style="text-align: center; color: #fff">Disclaimer: The responsibility for the correctness of data in the portal is the responsibility of the facility which has self-registered the data. The Government is only responsible for the dissemination of this information through this portal.</p>
</div>


</body>
<div id="loader" style="display:none;" class="loader"></div>
<script src="lib/scriptcontroller.js"></script>

</html>
