<!DOCTYPE HTML>
<html class="loginPage">
<head>
    <title>Punjab Health Transparency Portal</title>
    <link rel="icon" href="./img/logo1n.png" type="image/x-icon">

    <meta name="description" content="DHIS 2">
    <meta name="keywords" content="DHIS 2">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--<script type="text/javascript" src="../javascripts/jQuery/jquery.min.js"></script>-->
    <script type="text/javascript" src="login.js"></script>
    <!--<link type="text/css" rel="stylesheet" href="../css/widgets.css">-->
    <!--<link type="text/css" rel="stylesheet" href="../css/login.css">-->
    <!--<link type="text/css" rel="stylesheet" href="../../api/files/style/external" />-->
    <script src="//dhis2-cdn.org/v221/ext/ext-all.js"></script>

    <link rel="stylesheet" href="http://dhis2-cdn.org/v223/ext/resources/css/ext-plugin-gray.css" />
    <script src="http://dhis2-cdn.org/v223/ext/ext-all.js"></script>
    <script src="http://dhis2-cdn.org/v223/plugin/table.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->

    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->

    <!--Bootstrap Select Library-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>

    <!--W3schools-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="w3.css">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="js/dist/rating.min.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/rating.min.css">

    <style>
        div.container {
            width: 100%;
            border: 1px solid gray;
        }

        header{
            padding: 1em;
            color: white;
            background-color: #2978B3;
            clear: left;
            text-align: center;
            height:120px;
        }
        nav {
            float: left;
            max-width: 300px;
            margin: 0;
            padding: 1em;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        #content {
            margin-left: 250px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }

        #side1,#side2{
            border-radius:5px;
            border: 1px solid grey;
            background-color: teal;
            padding-top: 50px;
            padding-right: 60px;
            padding-bottom: 50px;
            padding-left: 60px;
        }
        #test1 {
            margin-left: 120px;
            margin-right : 120px;
            padding: 1em;
            overflow: hidden;
            margin-bottom: 10px;
        }


        .noDisplay{
            display: none;
        }

        #footer{
            width: 100%;
            margin:0 auto;
            position: fixed;
            bottom: 0px;
            background-color: #2978B3;
        }
    </style>


</head>

<body>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
            </div>
            <div class="modal-body" >

                <div id="loginField">
                    <div id="loginArea">
                        <div id="bannerArea">
                            <img src="" style="border:none">
                        </div>

                        <form id="loginForm" action="../../dhis-web-commons-security/login.action" method="post">
                            <div>
                                <div id="signInLabel">Sign in</div>
                                <div><input type="text" autofocus="autofocus" id="j_username" name="j_username" placeholder="Username"></div>
                                <div><input type="password" id="j_password" name="j_password" autocomplete="off" placeholder="Password"></div>
                            </div>
                            <div style="padding-bottom: 10px">
                                <a id="createAccountLink" href="testurl.html">Create an account</a>
                            </div>
                            <div id="submitDiv">
                                <input id="submit" class="button" type="submit" value="Sign in">
                            </div>
                            #if( $keyAccountRecovery )
                            <div style="padding-bottom: 10px">
                                <a id="forgotPasswordLink" href="recovery.action">Forgot password?</a>
                            </div>
                            #end
                            #if( $keyConfig.selfRegistrationAllowed() )
                            <!--<div style="padding-bottom: 10px">-->
                            <!--<a id="createAccountLink" href="account.action">Create an account</a>-->
                            <!--</div>-->
                            #end
                        </form>
                        #if( $keyOpenIdProvider )
                        <form id="openIdLoginForm" action="../../dhis-web-commons-security/openid.action" method="post">
                            <input name="openid_identifier" type="hidden" value="$keyOpenIdProvider"/>
                            <div id="submitDiv">
                                #if( $keyOpenIdProviderLabel )
                                <input style="width: 269px;" id="submit" class="button" type="submit" value="$keyOpenIdProviderLabel">
                                #else
                                <input style="width: 269px;" id="submit" class="button" type="submit" value="Sign in with OpenID">
                                #end
                            </div>
                        </form>
                        #end
                        #if( $failed == true )
                        <div id="loginMessage">Wrong username or password</div>
                        #end
                        #if ( $keyApplicationNotification )
                        <div id="notificationArea">$!{keyApplicationNotification}</div>
                        #end
                        <!--[if lte IE 8]>
                        <div id="notificationArea" style="color: white; background-color: red;">$i18n.getString( "unsupported_browser" )</div>
                        <![endif]-->
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<div >
    <!--Header -->
    <header class="w3-hover-shadow ">
        <div style="float:left; width:100px;">
            <img src="img/Punjab_logo.png" height="100px";>
        </div>
        <div style="display:inline-block;margin:0 auto;width:auto;">
            <h2 style="color:#fff">Punjab Health Facility Portal</h2>
        </div>
        <div style="float:right">
            <ul style="list-style-type:none;">
                <li class="w3-btn"><a onclick="window.location.reload()" target="_blank" style="color:#fff">Home</a></li>
                <li class="w3-btn"><a href="http://pbhealth.gov.in/" target="_blank" style="color:#fff"> Punjab Health Department</a></li>
                <!--<li class="w3-btn w3-hover-who1"><a href="http://www.pbhealth.gov.in/phsc.htm">Punjab DGHS</a></li>-->
                <li class="w3-btn" id="b1" class="button12" data-toggle="modal"  style="color:#fff" data-target="#myModal"><b>Register Facility</b></li>
            </ul>
        </div>
    </header>


    <!--DropDown Bar-->
    <div style="text-align: center">
        <select id="drop1" class="selectpicker"  data-live-search="true" >
            <option value="all" disabled selected hidden>Please Select</option>
            <option value="wSslG6mcGXl">Select Entire State (Punjab)</option>
        </select>

        <select id="drop_ownership"  class="selectpicker"  multiple="true" data-live-search="true">
            <option value="all1">Select All</option>
        </select>

        <select id="drop2"  class="selectpicker"  data-live-search="true">
            <option disabled selected hidden>Select Speciality</option>
        </select>

        <!--  <select id="drop-super" class="w3-btn w3-teal"  data-live-search="true">
              <option disabled selected hidden>Select Super Speciality</option>>
          </select>-->
        <button  class="w3-btn" onclick="generaterecord();">Search </button>
    </div>
    </br>

    <div id="content1">
        <table>
            <tr>
                <td><div style="width: 650px">
                    <h3 style="text-align: center; margin-top: 5%">About Us</h3>
                    <p style="text-align:justify; margin-left: 10px">The government of Punjab is pleased to announce the launch of the “Punjab Health Facility Portal” where all public and private health facilities are invited to self-report on the various services they provide in their respective health facilities. This information will be made available to citizens through this transparency portal to allow them to make more informed choices of what health services they can access from where. In this way, the Punjab Government seeks to strengthen its health services delivery, improve citizen satisfaction, and identify gaps in service delivery which they can seek to fill.
                        </br></br>We request you to partner with the State to make this important venture a resounding success. For this, you are requested to self-register by clicking on “Register Facility” button. Please note this portal will be dynamic and allow for changes to be made as they take place in future.</p>
                </div></td>
                <td>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1750772.7212624417!2d74.27996482023067!3d31.012930230614476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391964aa569e7355%3A0x8fbd263103a38861!2sPunjab!5e0!3m2!1sen!2sin!4v1478332283034" width="800" height="350"  frameborder="0" style="border:0;margin-top: 5%" allowfullscreen> </iframe></td>
                <!--<div id="table1"></div>-->
            </tr>
        </table>
    </div>
</div>

<div id="footer">
    <p style="text-align: center; color: #fff">Disclaimer: Please note the responsibility for the correctness of information provided lies completely with the providers of the information. The government is only responsible for the compilation ad dissemination of this information through the medium of this portal.</p>
</div>

</body>

<!-- Login Script -->

<script>

    var base = "../../";
    var url=base+"dhis-web-commons-security/login.action";
    Ext.onReady( function() {

        Ext.Ajax.request({
            url: base + "dhis-web-commons-security/login.action",
            method: "POST",
            params: {j_username: "admin", j_password: "district"},

        });

        $.post(url, {
            'j_username': 'admin',
            'j_password': 'district'
        }, function (data, status, xhr) {

        });

    });
</script>

<script type="text/javascript">
    var orgid;
    var divele;
    var servicename,serviceid;
    var name=[],address=[],pincode=[],village=[],mobile=[],owner=[],special=[];
    var toAdd,spec=[],specialjoin;
    $(document)
            .ready(function() {


            });

    Ext.Ajax.request({
        url: base + "dhis-web-commons-security/login.action",
        method: "POST",
        params: {j_username: "admin", j_password: "district"},

    });


    $.getJSON("../../api/optionSets/dGdSkUKNC0I.json?fields=options[id,name]", function (data) {
        $.each(data.options, function (index, item) {
            $('#drop_ownership').append($('<option></option>').val(item.id).html(item.name).text(item.name)
            );
        });
    });

    $.getJSON("../../api/dataElementGroups/yQIx7LcjQIY.json?fields=dataElements[id,name,code]", function (data) {
        $.each(data.dataElements, function (index, item) {
            $('#drop2').append($('<option></option>').val(item.id).html(item.name).text(item.name)
            );
        });
    });



    $.getJSON("../../api/organisationUnitGroups/mH15ENlpG4v.json?fields=organisationUnits[id,name,code]", function (data) {
        $.each(data.organisationUnits, function (index, item) {
            $('#drop1').append($('<option></option>').val(item.id).html(item.name).text(item.name)
            );
        });
    });


    $("#drop1").change(function () {
        orgid = $(this).find("option:selected").val();
//                    alert(orgid);

        jQuery('#sel').html('');
    });

    $("#drop_ownership").change(function () {
        serviceid = $(this).find("option:selected").val();
        if(serviceid=="all1")
        {
            $('#drop_ownership').selectpicker('selectAll');

        }


    });

    $("#drop2").change(function () {

        jQuery('#sel').html('');

        serviceid = $(this).find("option:selected").val();
        servicename = $(this).find("option:selected").text();

//                    alert(servicename);
        generatefilterrecord();
    });



    function generaterecord() {
        jQuery('#sel').html('');
        $(".w3-card-4").remove();
        var name=[],address=[],pincode=[],village=[],mobile=[],owner=[],special=[];
        var toAdd,spec=[],specialjoin;
        //    alert(orgid);


        $.getJSON("../../api/analytics/events/query/tzR46QRZ6FJ.json?stage=o6ps51YxGNb&dimension=pe:20161026&dimension=ou:" +orgid+"&dimension=KOhqEw0UKxA&dimension=l8VDWUvIHmv&dimension=Iso0i5CcVg5&dimension=wcmHow1kcBi&dimension=xjJR4dTmn4p&dimension=UXQ92IoVAEV&dimension=pqVIj8NyTXb&dimension=Bcg4mZFD8gO&dimension=g7vyRbNim1K&dimension=FPBP3KXepIQ&dimension=vp4t6koDmZB&dimension=XEiMcaGi6vv&dimension=mKUqJtDn41L&dimension=G6QYTm3JoNo&dimension=p2MQZL84eNu&dimension=lKQPhgCfuvz&dimension=L11XujC9xzh&dimension=XBO6pg9y1m8&dimension=t035HNWxNZU&dimension=tx0G6s6nBiC&dimension=sCypRhH8brf&displayProperty=NAME", function (data) {
            console.log("../../api/analytics/events/query/tzR46QRZ6FJ.json?stage=o6ps51YxGNb&dimension=pe:20161026&dimension=ou:" +orgid+"&dimension=KOhqEw0UKxA&dimension=l8VDWUvIHmv&dimension=Iso0i5CcVg5&dimension=wcmHow1kcBi&dimension=xjJR4dTmn4p&dimension=UXQ92IoVAEV&dimension=pqVIj8NyTXb&dimension=Bcg4mZFD8gO&dimension=g7vyRbNim1K&dimension=FPBP3KXepIQ&dimension=vp4t6koDmZB&dimension=XEiMcaGi6vv&dimension=mKUqJtDn41L&dimension=G6QYTm3JoNo&dimension=p2MQZL84eNu&dimension=lKQPhgCfuvz&dimension=L11XujC9xzh&dimension=XBO6pg9y1m8&dimension=t035HNWxNZU&dimension=tx0G6s6nBiC&dimension=sCypRhH8brf&displayProperty=NAME");
            var metaNames = data.metaData.names;

            for (var i = 0; i < data.rows.length; i++) {
                name.push(data.rows[i][9]);
                address.push(data.rows[i][8]);
                pincode.push(data.rows[i][12]);
                village.push(data.rows[i][11]);
                mobile.push(data.rows[i][14]);
                owner.push(data.rows[i][19]);
                if (data.rows[i][20] == "1")
                    special.push(data.headers[20].column);
                if (data.rows[i][21] == "1")
                    special.push(data.headers[21].column);
                if (data.rows[i][22] == "1")
                    special.push(data.headers[22].column);
                if (data.rows[i][23] == "1")
                    special.push(data.headers[23].column);
                if (data.rows[i][24] == "1")
                    special.push(data.headers[24].column);
                if (data.rows[i][25] == "1")
                    special.push(data.headers[25].column);
                if (data.rows[i][26] == "1")
                    special.push(data.headers[26].column);
                if (data.rows[i][27] == "1")
                    special.push(data.headers[27].column);
                if (data.rows[i][28] == "1")
                    special.push(data.headers[28].column);

                specialjoin = special.join();
                spec.push(specialjoin);
                specialjoin = "";
                special = [];

            }


            for (var i = 0; i < name.length; i++) {

                obj = new constructor_obj(document.body,name[i],address[i], pincode[i],village[i],mobile[i],owner[i],spec[i]);
            }

        });
        $("#content1").hide();
    }

    function generatefilterrecord() {
        jQuery('#sel').html('');
        $(".w3-card-4").remove();
        var name=[],address=[],pincode=[],village=[],mobile=[],owner=[],special=[];
        var toAdd,spec=[],specialjoin;
        //  alert(orgid);

        //"../../api/analytics/events/query/tzR46QRZ6FJ.json?stage=o6ps51YxGNb&dimension=pe:20161026&dimension=ou:" +orgid+"&dimension=KOhqEw0UKxA&dimension=l8VDWUvIHmv&dimension=Iso0i5CcVg5&dimension=wcmHow1kcBi&dimension=xjJR4dTmn4p&dimension=UXQ92IoVAEV&dimension=pqVIj8NyTXb&dimension=Bcg4mZFD8gO&dimension=g7vyRbNim1K&dimension=FPBP3KXepIQ&dimension=vp4t6koDmZB&dimension=XEiMcaGi6vv&dimension=mKUqJtDn41L&dimension=G6QYTm3JoNo&dimension=p2MQZL84eNu&dimension=lKQPhgCfuvz&dimension=L11XujC9xzh&dimension=XBO6pg9y1m8&dimension=t035HNWxNZU&dimension=tx0G6s6nBiC&dimension=sCypRhH8brf&displayProperty=NAME
        $.getJSON("../../api/analytics/events/query/tzR46QRZ6FJ.json?stage=o6ps51YxGNb&dimension=pe:20161026&dimension=ou:" +orgid+"&dimension=KOhqEw0UKxA&dimension=wcmHow1kcBi&dimension=xjJR4dTmn4p&dimension=pqVIj8NyTXb&dimension=XEiMcaGi6vv&dimension="+serviceid+"&displayProperty=NAME", function (data) {
            console.log(serviceid);
            console.log("../../api/analytics/events/query/tzR46QRZ6FJ.json?stage=o6ps51YxGNb&dimension=pe:20161026&dimension=ou:" +orgid+"&dimension=KOhqEw0UKxA&dimension=wcmHow1kcBi&dimension=xjJR4dTmn4p&dimension=pqVIj8NyTXb&dimension=XEiMcaGi6vv&dimension="+serviceid+"&displayProperty=NAME");
            var metaNames = data.metaData.names;
            var headlength=Number(data.headers.length-1);
            console.log(headlength);
//            var services=data.metaData.names[]
            for (var i = 0; i < data.rows.length; i++) {
                if (data.rows[i][headlength] == "1") {
                    name.push(data.rows[i][5]);
                    address.push(data.rows[i][8]);
                    pincode.push(data.rows[i][10]);
                    village.push(data.rows[i][9]);
                    mobile.push(data.rows[i][11]);
                    owner.push(data.rows[i][12]);
                    special.push(servicename)

                    specialjoin = special.join();
                    spec.push(specialjoin);
                    specialjoin = "";
                    special = [];


                    toAdd = document.createDocumentFragment();
                }
                else
                {

                }

            }
            for (var i = 0; i < name.length; i++) {
                obj = new constructor_obj(document.body,name[i],address[i], pincode[i],village[i],mobile[i],owner[i],spec[i]);
            }

        });
        $("#content1").hide();
    }

    // A simple constructor function
    //parent ==> html parent object to add the info
    function constructor_obj(parent, title, address, pincode,village,mobile,owner, specs) {

        this.parent = parent;
        this.title = title;
        this.address = address;
        this.pincode = pincode;
        this.village = village;
        this.mobile = mobile;
        this.owner = owner;
        this.specs = specs;
        var div = document.createElement('div');
        div.id = 'sel';
        div.style = "width:auto;"
        div.innerHTML = '\
             <div class="w3-card-4" id="test1">\
                <div class="">\
                    <h1 class="title"><b>Dr. Abc</b></h1>\
                    <button class="w3-btn-block w3-dark-grey" onclick="myfunc('+mobile+')">More Details</button>\
                </div>\
                <div class="noDisplay" id="'+mobile+'">\
                    <h2 class="specialty">Specialty :<b> Physiotherapist</b></h2>\
                    <hr>\
                    <p class="address">Address :<b> Marketing and Advertising. Seeking a new job and new opportunities.</b></p>\
                      <p class="pincode">Fee Details:500-600rs</p>\
                      <p class="village">Fee Details:500-600rs</p>\
                      <p class="mobile">Fee Details:500-600rs</p>\
                      <p class="owner">Fee Details:500-600rs</p>\
             </div>\
  ';
        this.parent.appendChild(div);
        div.getElementsByClassName('title')[0].innerHTML = this.title;
        div.getElementsByClassName('specialty')[0].innerHTML = this.specs;
        div.getElementsByClassName('address')[0].innerHTML = this.address;
        div.getElementsByClassName('pincode')[0].innerHTML = this.pincode;
        div.getElementsByClassName('village')[0].innerHTML = this.village;
        div.getElementsByClassName('mobile')[0].innerHTML = this.mobile;
        div.getElementsByClassName('owner')[0].innerHTML = this.owner;
        this.parent="";

    }


    function myfunc(thiz){
//      var div = $("#"+thiz)[0];
//              div.className="";
        $("#"+thiz).slideToggle("slow");
    }

</script>

</html>