<html dir="ltr">

<head>
<title>DHIS 2</title>

<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="stylesheet" href="../css/login_mobile.css" />
<style>
    #head {
        width: 100%;
		height: 35px;
    }

    .headImage {
        width: 16.66%;
        float: left;
        text-align: center;
        padding: .25em 0;
        background: white;
    }
</style>
</head>

<body>

<div id="head">
    <div class="headImage">
        <img src="../security/usaid-logo.png" style="margin-top:4px;margin-left:2px" alt="USAID Logo" height="18" width="58"/>
    </div>
    <div class="headImage">
        <img src="../security/dhs_Manipur.png" alt="DHS Manipur" height="26" width="60" />
    </div>
    <div class="headImage">
        <img src="../security/govt_of_Manipur.png" alt="Govt of Manipur" height="26" width="35" />
    </div>
    <div class="headImage">
        <img src="../security/IDSP_Manipur.jpg" alt="IDSP Manipur" height="26" width="26" />
    </div>
    <div class="headImage">
        <img src="../security/nha-logo.png" alt="NHA Logo" height="26" width="40" />
    </div>
	<div class="headImage">
            <img src="../security/nishtha-logo.png" alt="NISHTHA Logo" height="27" width="30" />
    </div>
</div>
<div id="wrap">

<div id="header">
	<img src="jhpiego-logo-mobile.png" height="20" alt="DHIS 2">
    <span style="color:white;font-size:13px;">Manipur COVID-19 Dashboard </span>
</div>

<div id="content" align="center" style="text-align: left;">

#if( $failed == true )
<div class="header-box" align="center">
	<h3 style="text-align: left; background-color: red; color: black;">Wrong username or password</h3>
</div>
#end

<form id='loginForm' action="../../dhis-web-commons-security/login.action" method="POST">

<div class="header-box" align="center">
	<h3 style="text-align: left;">Login</h3>
	<p style="text-align: left;">
		<label for="j_username">Username</label> <input type="text" id="j_username" name="j_username" size="24"> <br />
		<label for="j_password">Password</label> <input type="password" id="j_password" name="j_password" size="24"> <br /> <br />
	</p>
</div>

<div class="header-box" align="center">
	<p>
		<input type="submit" style="width: 48%;" value="Login"/>
		<input type="reset" style="width: 48%;" value="Reset"/>
	</p>
</div>

<div style="text-align:center">
    <a style="color:tomato;font-weight:600;font-size:18px" href="*">Click for Citizen Dashboard</a>
</div>
#if ( $keyConfig.selfRegistrationAllowed() )
<div class="header-box" align="center"><a href="account.action">Create an account</a></div>
#end

</form>
</div>
</div>
#* Seems we can't access macros.vm from login.vm/login_mobile.vm so we include the full script here *#
#if( $googleAnalyticsUA && $googleAnalyticsUA != '' )
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '$encoder.jsEncode($googleAnalyticsUA)']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
#end

<div style="position: absolute;bottom: 0px;text-align: center;width: 100%;color:black">
 <h4 style="font-style:italic;color:black;">© 2021 All Rights Reserved by Government of Manipur</h4>
 <p>Supported under NISHTHA by USAID</p>

</div>
</body>
</html>
