<div id="leftBar">   
    <div class="left-bar-menu" ng-controller="LeftBarMenuController">
        <!--
        <ul class="nav nav-pills nav-stacked">
            <li><a href ng-click="showHome()">{{'registration_and_data_entry'| translate}}</a></li>
            <li><a href ng-click="showReportTypes()">{{'reports'| translate}}</a></li>
        </ul>
        -->
    </div>    
</div>
<div id="mainPage">
    <h1>{{'ehs'| translate}}</h1>
    <div style="width: 90%;" class="row col-sm-12">
        <div class="col-sm-4 ehs-home-container" ng-click="foodSafetyProgram()" style="cursor: pointer">
            <h2>
                <img src="../dhis-web-ehs/images/Capture.PNG"  style="height:120px; width:120px;" />
               <!-- <span class="horizontal-spacing">{{'food_safety'| translate}}</span>--></h2>
        </div>
        <div class="col-sm-4 ehs-home-container" ng-click="waterSafetyProgram()" style="cursor: pointer">
            <h2>
                <img src="../dhis-web-ehs/images/watersafety.png"  style="height:120px; width:120px;"/>
               <!-- <span class="horizontal-spacing">{{'water_safety'| translate}}</span>--></h2>
        </div>
        <div class="col-sm-4 ehs-home-container" >
            <h2><a href="../dhis-web-ehs/index.html#/operators-registration?tITlMGNJTbJ"><img src="../dhis-web-ehs/images/registryofbusinessowner.png" style="height:120px; width:120px;" /></a>
                <!--
                <span class="horizontal-spacing">{{'food_safety'| translate}}</span>--></h2>
        </div>
        <div class="col-sm-4 ehs-home-container">
            <img src="../dhis-web-ehs/images/vectorcontrolprogram.png"  style="height:120px; width:120px;"/>
            <!--<h2><span class="horizontal-spacing">{{'food_safety'| translate}}</span></h2>-->
        </div>
        <div class="col-sm-4 ehs-home-container">
            <img src="../dhis-web-ehs/images/Institutionalhygiene.png" style="height:120px; width:120px;" />
            <!--<h2><span class="horizontal-spacing">{{'food_safety'| translate}}</span></h2>-->
        </div>
        <div class="col-sm-4 ehs-home-container">
            <img src="../dhis-web-ehs/images/porthealth.png"  style="height:120px; width:120px;"/>
            <!--<h2><span class="horizontal-spacing">{{'food_safety'| translate}}</span></h2>-->
        </div>
        <div class="col-sm-4 ehs-home-container">
            <img src="../dhis-web-ehs/images/scheduling.png"  style="height:120px; width:120px;"/>
            <!--<h2><span class="horizontal-spacing">{{'food_safety'| translate}}</span></h2>-->
        </div>
        <div class="col-sm-4 ehs-home-container">
            <a href="../dhis-web-reporting/displayViewReportForm.action"><img src="../dhis-web-ehs/images/reports.png" style="height:120px; width:120px;" /></a>
            <!--<h2><span class="horizontal-spacing">{{'food_safety'| translate}}</span></h2>-->
        </div>
        <div class="col-sm-4 ehs-home-container">
            <a href="../dhis-web-ehs/escalationsList.action?listAll=true"> <img src="../dhis-web-ehs/images/Executiveboard.png" style="height:120px; width:120px;" /></a>
            <!--<h2><span class="horizontal-spacing">{{'food_safety'| translate}}</span></h2>-->


        </div>

    </div>
</div>