<html>
<head>
    <style type="text/css">
        
.selectionBoxRow
{
padding: 2px 0;

}

.selectionBoxSelect
{
  width: 401px;
}

.selectionLabel
{
  display: inline-block;
width: 130px;
text-align: left;

}

    </style>

    <title>DHIS Birt Engine</title>

    <script type="text/javascript" defer="defer">
        function cascadeSelect(parent, child) {
            var childOptions = child.find('option:not(.static)');
            child.data('options', childOptions);

            parent.change(function () {
                childOptions.remove();
                child
                        .append(child.data('options').filter('.sub_' + this.value))
                        .change();
            })

            childOptions.not('.static, .sub_' + parent.val()).remove();

        }

        $(function () {
            cascadeForm = $('.cascadeTest');
            orgSelect = cascadeForm.find('.orgSelect');
            terrSelect = cascadeForm.find('.terrSelect');

            cascadeSelect(orgSelect, terrSelect);
        });

        function formValidations() {
            var orgunitIdValue = document.reportForm.ouIDTB.value;
            if (orgunitIdValue == null || orgunitIdValue == "" || orgunitIdValue == " ") {
                alert("Please Select OrganisationUnit");
                return false;
            }
            return true;
        }
    </script>

</head>
<body>
<h3>Birt Reports</h3>
<br>
<center>
  <div >
    <form id="reportForm" name="reportForm" action="#" class="cascadeTest">
      <div id="selectionBox" class="inputCriteria" style="width:555px;  float:left;">
	<div class="selectionBoxRow">
	  <div class="selectionLabel">Category</div>
          
          <select id="typeSelect" name="orgSelect" class="orgSelect selectionBoxSelect" style="width: 394px; padding: 3px;">
            <option value="default">--Select--</option>
            #foreach ( $reportTypes in $birtReportTypeObjectList)
            <option value="$reportTypes.reportTypeId">$reportTypes.reportTypeName</option>
            #end
          </select>
        </div>
        <div class="selectionBoxRow">
	  <div class="selectionLabel">Report</div>

          <select id="reportSelect" name="terrSelect" class="terrSelect selectionBoxSelect" style="width: 394px; padding: 3px;">
            <option value="sub_default">--Select--</option>
            #foreach ( $report in $birtReportOptionsList)
                        <option value="$report.reportDesignFileName"
                                class="$report.reportClass">$report.reportName</option>
                    #end
                </select>
        </div>
        <div class="selectionBoxRow">
	  <div class="selectionLabel">Output Format</div>
	  
          <select id="formatSelect" name="formatSelect" class="formatSelect selectionBoxSelect" style="width: 394px; padding: 3px;">
            <option value="sub_default">--Select--</option>
            <option value="pdf">PDF</option>
            <option value="html">HTML</option>
            <option value="doc">D0C</option>
            <option value="ppt">PPT</option>
            <option value="xls_spudsoft">XLS</option>
          </select>
	  </div>
    </form>
    <br>
    <br>
        <input type="button" onclick="getSelectedText('reportSelect','formatSelect');" value=Generate style="width:12em"/>
    </div>
</center>
</body>

<script>
    function getSelectedText(reportId, formatType)
    {
        var elt = document.getElementById(reportId);
        var format = document.getElementById(formatType);

        if (elt.selectedIndex == -1)
            return null;

        var currURL = document.URL;
        var brkURL = currURL.split("/");
        var absURL = brkURL[0]+"/"+brkURL[1]+"/"+brkURL[2]+"/";

            var url = absURL + 'birtviewer/run?__report=' + elt.options[elt.selectedIndex].value+'&__format='+format.options[format.selectedIndex].value;
            var windowName = 'Birt Viewer';
            window.open(url, windowName);
    }
</script>

</html>
