.body-bg {
  
  background-size: 100% 100%;
  background-position: center center;
}

.vh-100 {
  height: 100vh;
}

.navbar.pos-t {
  z-index: 999;
}

.line-height{
  line-height: 1;
}

.line-9{
  width: 8px;
  height: 8px;
}

button,
/*input[type=text]:active,*/
textarea:active,
select:active,
button:active,
.btn:active,
.slider:active,
html [type="button"]:active,
[type="reset"]:active,
[type="submit"]:active,
.dropdown-toggle:active {
  box-shadow: 0 0 0px transparent !important;
  outline: none !important;
  border: 0px  !important;
}

html:focus,
/*input[type=text]:focus,*/
textarea:focus,
select:focus,
button:focus,
.btn:focus,
.bootstrap-select .btn:focus,
.slider:focus,
html [type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus,
.dropdown-toggle:focus {
  box-shadow: 0 0 0px transparent !important;
  outline: none !important;
  border: 0px  !important;
}

.cal-bg {
  background-color: #0A53A4;
}

#active {
  background-color: white;
  color: blue;
}

.cal_wid {
  width: 30%  !important;
  top: 10%  !important;
  z-index: 9;
}

.custom-menu .nav>li>a:hover,
.custom-menu .nav>li>a:focus {
  background-color: #DB5F3B  !important;
  color: #fff !important;
}

/**overall screen css**/

.p-6 {
  font-size: 6px;
}

.p-7 {
  font-size: 7px;
}

.p-8 {
  font-size: 8px;
}

.p-9 {
  font-size: 9px;
}

.p-10 {
  font-size: 10px;
}

.p-11 {
  font-size: 11px;
}

.p-12 {
  font-size: 12px;
}

.p-13 {
  font-size: 13px;
}

.p-14 {
  font-size: 14px;
}

.p-15 {
  font-size: 15px;
}

.p-17 {
  font-size: 17px;
}

.p-18 {
  font-size: 18px;
}

.p-19 {
  font-size: 19px;
}

.line-height-1 {
  line-height: 1;
}

.line-height-6 {
  line-height: .6;
}

.custom-round {
  border-radius: 20px;
}

.active-tab {
  background-color: #DB5F3B;
  color: #fff !important;
}

#myInput1 {
  display: none;
  /* z-index: 1; */
  width: 100%;
}

.custom-class {
  padding: 12px 4px;
}

.sidenav, .profile .sidenav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}
.sidenav {
  z-index: 900;
}
.profile .sidenav {
  z-index: 1;
}

#right-aside-nav1 .container-fluid {
  width: 94%;
}

.bg-gradient {
  background: linear-gradient(90deg, #891462 0%, #C784D1 100%);
}

.ex-summary .bg-gradient-nav {
  background: #333E50;
}
.bg-gradient-nav {
  background: linear-gradient(56.21deg, #A49B94 0%, #4D4742 100%);
}

.bg-light-1 {
  background-color: #F5F5F5;
}

.w-33 {
  width: 33.3%;
}

.color-purple {
  color: #522A8F;
}
.jak {
  position: absolute;
  right: 4%;
  top: 5%;
  z-index: 1;
}
.jak .custom-control-label::before{
  background-color: #fff;
}
#district-stats {
  word-wrap: normal;
}

#mapid {
  height: 67vh;
}

.map-show-btn {
  z-index: 2;
}

#right-aside-nav {
  z-index: 999;
}

.breadcrumb {
  padding: 2px 0px 0px 10px  !important;
  margin: 0px  !important;
  background-color: #E0DEDB  !important;
  border-radius: 0px !important;
}

ul.breadcrumb li {
  display: inline;
  font-size: 12px;
  padding-right: 10px;
}

ul.breadcrumb li+li:before {
  /* padding: 8px; */
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li span {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li span:hover {
  color: #01447e;
  text-decoration: underline;
}

.change_css {
  height: 52px  !important;
  /* margin-top: 10px  !important; */
}

.fa-spin {
  font-size: 48px;
}

.loading-icon {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  transition: all 10s easy-in-out;
}

@media (max-width: 1024px) {
  .p-10 {
    font-size: 8px;
  }
}

.bg-color {
  background-color: #F68A2D;
}

.bg-color-submit {
  background-color: #00B6FF;
}

.bg-color-submit:active {
  background-color: rgb(4, 149, 206);
}

.color-bg-light {
  background-color: #4497FF;
}

.custom-color-login {
  background-color: #EAEAEA;
}

#close-cal {
  top: -5px;
  right: 0px;
  position: absolute;
}
#area-no-data {
  display: none;
}
.row.mx-0.quarter_row {
  margin-top: 20px  !important;
}

p.mb-0.cal-bg.p-12.text-light.btn.p-2.w-100 {
  height: 65px;
  font-size: 18px  !important;
  padding-top: 20px !important;
}

.card-title.mb-0.cal-bg.py-2.no-border-radius.border-0.px-0.pt-10 {
  margin-top: 30px  !important;
}

.calendar_header_class {
  margin-top: 20px;
}

p#active_q {
  background-color: #fff;
  color: blue  !important;
}

#year_selected {
  background-color: #fff;
  color: #000 !important;
}

.legend_pos {
  top: -5vh;
}

.rank_details {
  z-index: 2;
}

.status{
  top: -4vh;
}

.view_facility{
  background-color: #E0DEDB;
}
/* .view_fec{
  text-align: left;
  position: relative;
} */

.back_nav{
  position: absolute;
  top: 4vh;
  z-index: 1;
  font-weight: 600;
  font-style: italic;
  color: #0776FF;
  font-size: 12px;
}
.view_prof{
  z-index: 3;
}
.bla,.back_nav{
  color: #0071FF  !important;
  text-decoration: none  !important;
  background-color: transparent;
  cursor: pointer;
}

.left_accord{
  margin-right: 1.1rem;
}
.legend_prop{
  max-width: 100%;
  width: 60%;
  margin: 0 auto;
}

.modal-left .modal-content, .modal-right .modal-content {
  overflow: hidden  !important;
}

.dropdown-menu {
  min-width:auto !important;
}

.dropdown-menu.show {
  width:100% !important;
}
.switch-secondary > input {
  right: 10px;
}
.margin-left-5{
  margin-left: -10px;
}

@media (max-width: 1180px) {
  #area_chart {
    width: 150px;
  }
  .custom-cls {
    font-size: 20px;
  }
  .cal_wid {
    width: 40%  !important;
    top: 10%  !important;
    z-index: 9;
  }
  .card-title.left-top-1 .w-80 {
    width: 30%;
  }
  div#multi-area {
    width: 100%;
  }
}

.h1-100{
  min-height: 100% !important;
}

.bg-text-color{
  background-color: #202020;
}

.scroll{
  overflow-y: auto;
  height: 40vh;
  overflow-x: hidden;
}

ul#ui-id-1{
  position: absolute;
  z-index: 9999;
  left: 0 !important;
  right: 0;
  width: 100% !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0 transparent;
}
._red{background-color: #C5141D }
._orange{background-color: #FF8E04}
._green{background-color: #098641}

/*Slider css*/

#double-label-slider.ui-slider {
  margin-top: 24px;
  height: 6px;
  background: #848484;
  border: none;
  border-radius: 0;
}

#double-label-slider.ui-slider .ui-slider-handle {
  background: #0776FF;
  border: none;
  width: 18px;
  height: 18px;
  margin-left: -9px;
  border-radius: 100%;
  transition: box-shadow 0.2s ease;
}

#double-label-slider.ui-slider .ui-slider-handle.ui-state-hover,
#double-label-slider.ui-slider .ui-slider-handle.ui-state-focus,
#double-label-slider.ui-slider .ui-slider-handle.ui-state-active {
  box-shadow: 0 0 0 2px #D8D8D8;
}

#double-label-slider.ui-slider .ui-slider-pip {
  top: -3px;
}

#double-label-slider.ui-slider .ui-slider-pip .ui-slider-line {
  background: white;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  box-shadow: 0 0 0 2px #D8D8D8;
  border-radius: 100%;
  transition: all 0.4s ease;
}

#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
  width: 100px;
  margin-left: -50px;
  text-align: center;
}

#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label {
  color: #888888;
}

#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i {
  font-style: normal;
  font-size: 1.2em;
  position: absolute;
  top: -26px;
  left: 37px;
}

@media screen and (max-width: 500px) {
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i {
    font-size: 1.4em;
  }
}

#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
  opacity: 0.6;
  font-size: 1.2em;
  line-height: 1.3;
  position: absolute;
  top: 18px;
  transition: opacity 0.3s ease; }

  @media screen and (max-width: 500px) {
    #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
      font-size: 1.1em; }
  }

#double-label-slider.ui-slider .ui-slider-pip:hover .ui-slider-label span,
#double-label-slider.ui-slider .ui-slider-pip:focus .ui-slider-label span,
#double-label-slider.ui-slider .ui-slider-pip.ui-slider-pip-selected .ui-slider-label span {
  opacity: 1; }

#double-label-slider.ui-slider .ui-slider-pip.ui-slider-pip-selected .ui-slider-label {
  color: black; }

.play.pos-br {
    bottom: 8px !important;
    right:8%;
}
.breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}

.pm_bar{
  z-index: 10;
}
input[type=text]::-ms-clear { display: none; }

/**summary page css**/
.bg-summary {
  /*background-image: url("../img/bg-summary.png");*/
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-right-1 {
  border-right: 1px solid rgba(225, 225, 225, .1);
}

.custom-height-1 {
  height: 100vh;
  overflow: hidden;
}

.custom-height-2 {
  height: 100%;
}

.custom-white {
  background-color: rgba(225, 225, 225, 0.03);
}

@media (max-width: 1180px) {
  .custom-height-1 {
    height: auto;
    overflow: inherit;
  }

  .custom-height-2 {
    height: auto;
  }
  .custom-white .h3{
    font-size: 0.8rem;
  }
  .display-3 {
    font-size: 1.2rem;
  }
}

@page {
  size: a4 landscape
  }
  @media print {
    html {
      transform: zoom(0.9)
    }
}


.leaflet-pane.leaflet-map-pane {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
/* .leaflet-overlay-pane{
  align-self-center
} */

svg {
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 991px){
  .res-need .w-50{
    width: 100% !important;
  }
  .mb-6{
    margin-bottom: 50px;
  }
}

.district-profile{
  transform: translate(-50%, -40%) !important;
}

.display-rank{
  font-size: 4rem;
}

.page-header{
  height: 53px;
  background-color: #333E50;
}

.page-header-text{
  margin-left: -200px !important;
}

#user-profile{
  z-index: 1000;
}

.move-up{
  margin-top: -10px !important;
}
.button4 {
  background-color: #276696; /* Blue */
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 9px #999;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
  }
 @media screen and (max-width: 1350px) {
  .button4 {
	padding: 10px 25px;
    font-size: 12px;
	margin: 4px 2px;
    margin-top: 0;
  }
}
@media screen and (max-width: 650px) {
  .button4 {
	padding: 8px 18px;
    font-size: 8px;
	margin: 4px 2px;
    margin-top: 0;
  }
}
.quick_links
{
	font-size:11px;
	margin-left: 60%;
}
.up_logo
{
	width:auto;
	right: 0%;
}
.modal_links
{
	width:450px;
	height:450px;
	overflow:none;
}
@media screen and (max-width: 650px) {
  .modal_links {
	width:250px;
	height:250px;
	
  }
}
