@charset "UTF-8";
/* CSS Document */
/*
 * RESET
 *
 */

html, body, div, span, object, blockquote, pre,
abbr, acronym, address, big, cite, code, dfn, em, font, img, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, fieldset, form, label, legend,
caption, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

p {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}
a {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

body table {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * DEFAULT STYLES
 * 
 */
body {
	color: #333333;
	font-weight: normal;
	font-family: sans-serif;
		background-color: #1d5288; 
}


#accountArea
{
  position: absolute;
  /* top: 22px; */
  right: 17px;
  padding: 18px 30px 18px 0;
  font-size: 17px;
}

#loginField
{
	color: white;
	text-align: center;
  position: relative;
  margin: 10px auto 0 auto;
  width: 270px;
}

#signInLabel
{
  padding: 5px 0 1px 0;
  font-size: 13px;
}

#submitDiv
{
  padding: 3px 0 20px 0;
}

#loginField input[type=text],input[type=password]
{
  width: 255px;
  height: 22px;
  border: 1px solid #888;
  padding: 6px 6px;
  margin: 4px 0;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.14);
}

#loginMessage
{
  background-color: #3b6da1;
  border-style: solid;
  border-width: 1px;
  border-color: #D0D0D0;
  padding: 11px;
  margin: 20px 0;
  display: block;
  width: auto;
  text-align: center;
  border-radius: 2px;
}


#main { 
	width: 80%;
	margin: 14% auto;
  }
  #sidebar > img {
	height: 100%;
	width: 100%;
  }
  
  #page-wrap > img {
	height: 100%;
	width: 100%;
  }
  
  