<!DOCTYPE HTML>
<html dir="ltr">
<head>
    <title>$encoder.htmlEncode( $applicationTitle )</title>
    <meta name="referrer" content="no-referrer">
    <script type="text/javascript" src="../javascripts/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/useraccount/recovery.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/account.css">
</head>
<body>

<div id="accountHeader"></div>

<div id="accountContainer">

<div id="bannerArea"><a href="http://dhis2.org"><img src="../security/logo_front.png" style="border:none"></a></div>

<div id="accountInput">

<h3><span id="accountRecovery">$i18n.getString( "account_recovery" )</span></h3>

<form id="recoveryForm">

<table>
    <tr>
        <td style="width:100px"><label id="labelUsername" for="username">$i18n.getString( "user_name" )</label></td>
        <td><input type="text" id="username" name="username" autocomplete="off"></td>
    </tr>
</table>
<div>
						<!--<input type="text" id="txtCaptcha" style="text-align:center; border:none; background-image:url(./img/captcha_back_ground.png); color:red; font-weight:bold; font-family:Modern; width:100px" readonly/>-->
							<input type="text" id="txtCaptcha" style="text-align:center; border:none;color:red; font-weight:bold;font-size:25px; font-family:Modern; width:145px; background-image:url(./img/captcha_back_ground.png);" readonly/>
							<input type="text" id="txtCaptchaInput" name="txtCaptchaInput" placeholder="Enter Captcha" style='width:148px;padding-left:2px;' required/>
							<a href="javascript:drawComplexCaptcha();" title="$i18n.getString( "Regenerate Captcha" )"><img src="./img/refresh.png" alt="$i18n.getString( "Regenerate Captcha" )"></a>
						</div>
						    <div>
                                                       <input id="recoveryButton" type="button" value="$i18n.getString( 'recover' )" style="width:10em" onclick="recoverAccount()">
                                                    </div>
</form>

<div id="recoverySuccessMessage" style="display:none">$i18n.getString( 'recover_success_message' )</div>

<div id="recoveryErrorMessage" style="display:none">$i18n.getString( 'recover_error_message' )</div>


</div>

</div>

</body>
</htm>