<h3>$i18n.getString( "inspection_management" )</h3>

<ul class="introList">
    #introListImgItem( "escalationsList.action?listAll=true" "escalation" "escalation" )
    #introListImgItem( "schedulingInspectionsList.action?listAll=true" "schedule_inspection" "scheduleInspection" )
</ul>
